<div class="content-wrapper">
  <div class="row mt-3">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-uppercase">Danh sách đơn hàng</h4>
          <small class="text-gray">Thêm, sửa, xóa đơn hàng</small>
          <div class="add-items d-flex align-items-center mt-3">
            <div class="col-md-3 d-flex">
              <input type="text" class="form-control todo-list-input" placeholder="Từ khóa?" [(ngModel)]="searchKey">
              <button class="btn btn-gradient-primary ms-2" (click)="searchOrder()">Lọc</button>
            </div>
            <div class="col-md-2 ms-4">
              <select class="form-control text-dark" style="height: 44px;" [(ngModel)]="selectedStatus"
                      (change)="filterOrder()">
                <option value="">Tất cả trạng thái</option>
                <option value="COMPLETED">Hoàn thành</option>
                <option value="CANCELED">Đã hủy</option>
              </select>
            </div>
            <div class="col-md-4 text-end ms-auto">
              <a class="btn btn-gradient-primary" [routerLink]="['/orders/add']">Thêm đơn hàng</a>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped mt-5">
              <thead>
              <tr>
                <th>MÃ HOÁ ĐƠN</th>
                <th>MÃ KHÁCH HÀNG</th>
                <th>TÊN KHÁCH HÀNG</th>
                <th>MÃ NHÂN VIÊN</th>
                <th>TÊN NHÂN VIÊN</th>
                <th>TRẠNG THÁI</th>
                <th>THỜI GIAN TẠO</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orderFilers | slice:(pageIndex * pageSize):(pageIndex * pageSize + pageSize)">
                <td class="py-1">{{ order.id }}</td>
                <td class="py-1">{{ order.clientId }}</td>
                <td class="py-1">{{ order.clientName }}</td>
                <td class="py-1">{{ order.userId }}</td>
                <td class="py-1">{{ order.userFullName }}</td>
                <td class="py-1" [ngClass]="getStatusClass(order.status)">
                  {{ getStatus(order.status) }}
                </td>
                <td class="py-1">{{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>
                  <a class="text-center btn btn-sm" [routerLink]="['/orders/detail', order.id]">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a class="text-center btn btn-sm" *ngIf="hasDeleteOrderPermission()" (click)="deleteOrder(order.id)">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <mat-paginator
            [length]="orderFilers.length"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="onPageChange($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
