<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile"/>
          <span class="login-status online"></span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" *ngIf="currentUser.role.name == 'ADMIN'">
      <a class="nav-link" href="index.html">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" *ngIf="hasConfigurationPermission()">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Cấu hình</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sizes']">Kích cỡ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/materials']">Chất liệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/colors']">Màu sắc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/brands']">Thương hiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/shoe-services']">Dịch vụ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/category-services']">Phân loại dịch vụ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/coupons']">Voucher - Coupon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/coupons/items']">Tất cả mã Voucher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/shipping-provinces']">Phí ship theo tỉnh</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <span class="menu-title">Quản lý đơn hàng</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/schedules']">Tất cả đơn hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/schedules/add']">Thêm đơn hàng</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#iconsn" aria-expanded="false" aria-controls="icons">
        <span class="menu-title">Quản lý mua hàng</span>
        <i class="mdi mdi-cart menu-icon"></i>
      </a>
      <div class="collapse" id="iconsn">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/orders']">Tất cả đơn bán</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/orders/add']">Thêm đơn bán</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser.role.name == 'ADMIN'" [routerLink]="['/products']">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser.role.name == 'ADMIN'" [routerLink]="['/category-products']">Phân loại sản phẩm</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" *ngIf="hasUserManagementPermission()">
      <a class="nav-link" data-bs-toggle="collapse" href="#forms" aria-expanded="false" aria-controls="forms">
        <span class="menu-title">Quản lý người dùng</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
      <div class="collapse" id="forms">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users']">Tất cả người dùng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users/add']">Thêm người dùng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/roles']">Vai trò</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/permissions']">Quyền hạn</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <span class="menu-title">Quản lý khách hàng</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/clients']">Danh sách KH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/clients/add']">Thêm KH</a>
          </li>
          <li class="nav-item" *ngIf="hasClientCategoryPermission()">
            <a class="nav-link" [routerLink]="['/client-categories']">Phân loại KH</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" *ngIf="currentUser.role.name == 'ADMIN'">
      <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <span class="menu-title">Báo cáo</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reports/revenue']">Báo cáo danh thu</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
