<div class="content-wrapper">
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card ms-3 mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-uppercase">Thêm Màu Sắc Mới</h4>
          <p class="card-description">Điền thông tin màu sắc</p>
          <form [formGroup]="colorForm" (ngSubmit)="addColor()">
            <div class="form-group">
              <label for="name">Tên Màu Sắc</label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                id="name"
              />
              <div *ngIf="colorForm.get('name')?.touched && colorForm.get('name')?.invalid" class="text-danger">
                <small *ngIf="colorForm.get('name')?.errors?.['required']">Tên màu sắc là bắt buộc.</small>
                <small *ngIf="colorForm.get('name')?.errors?.['minlength']">Tên màu sắc phải có ít nhất 2 ký tự.</small>
              </div>
            </div>

            <div class="form-group">
              <label for="colorHex">Mã Màu (Hex)</label>
              <input
                type="text"
                formControlName="colorHex"
                (input)="validateHex()"
                (blur)="onBlurHexInput()"
                class="form-control color-input"
                maxlength="7"
                id="colorHex"
              />
              <input
                type="color"
                [value]="selectedColor"
                (input)="onColorInput($event)"
                class="color-picker mt-1"
                [ngStyle]="{'width': '50px'}"
              />
            </div>

            <button type="submit" class="btn btn-gradient-primary me-2" [disabled]="colorForm.invalid">Thêm Màu Sắc
            </button>
            <button class="btn btn-light" routerLink="/colors">Quay lại</button>
          </form>
          <div *ngIf="message" class="alert alert-warning mt-3">{{ message }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
