<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-home"></i>
      </span> Dashboard
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Tổng quan <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal mb-3">Doanh thu hôm nay <i class="mdi mdi-chart-line mdi-24px float-end"></i>
          </h4>
          <h2 class="mb-5">{{ revenueToday | number: '1.0-0' }} VND</h2>
          <h4 class="card-text">
            Tỷ lệ tăng trưởng:
            {{ revenueTodayGrowthRate | number:'1.0-2' }}%
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal mb-3">Doanh thu tuần <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
          </h4>
          <h2 class="mb-5">{{ revenueWeek | number: '1.0-0' }} VND</h2>
          <h4 class="card-text">
            Tỷ lệ tăng trưởng: {{ revenueWeekGrowthRate | number: '1.0-2' }}%
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal mb-3">Tỷ lệ hoàn thành đơn <i class="mdi mdi-diamond mdi-24px float-end"></i>
          </h4>
          <h2 class="mb-5">{{ completionRatio | number: '1.0-2' }}%</h2>
          <h4 class="card-text">Tổng đơn hàng hoàn thành: <span>{{ completedOrders }}/{{ totalOrders }}</span></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-uppercase">đơn hàng gần đây</h4>
          <div class="table-responsive">
            <table class="table table-striped mt-5">
              <thead>
              <tr>
                <th>MÃ HOÁ ĐƠN</th>
                <th>TÊN KHÁCH HÀNG</th>
                <th>TÊN NHÂN VIÊN</th>
                <th>TRẠNG THÁI</th>
                <th>THỜI GIAN TẠO</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orderLatest">
                <td class="py-1">{{ order.id }}</td>
                <td class="py-1">{{ order.clientName }}</td>
                <td class="py-1">{{ order.userFullName }}</td>
                <td class="py-1" [ngClass]="getStatusClass(order.status)">
                  {{ getStatus(order.status) }}
                </td>
                <td class="py-1">{{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>
                  <a class="text-center btn btn-sm" [routerLink]="['/orders/detail', order.id]">
                    <i class="fa fa-eye"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
